body {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis {
  -webkit-transform: translate(0px, 460px);  
}

.y-label {
  -webkit-transform: translate( 20px, 0px) rotate(-90deg);
  text-anchor: end;
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}

svg {
  padding-top: 20px;
  padding-left: 40px;
  margin: 30px;
  width: 890px;
  height: 500px;
}
